body {
  font-family: FreeSans; 
  font-size: 12pt;
  margin-left: 25%;
  margin-right: 25%;
}

.desc { 
  margin-right: 5%;
  text-align: justify;
  text-justify: inter-word;
}

label {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.var-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.var-title {
  text-align: center;
  font-weight: bold;
  min-width: 150px;
}

.dash-graph {
  margin-left: -30%;
}
